name: iOS starter workflow

on: 
  workflow_dispatch:
    # inputs:
      # base-branch:
      #   description: 'Base branch for the Android folder'
      #   required: true
      # update-text:
      #   description: 'App Name'
jobs:
  build-ios:
      name: Build iOS Archive
      runs-on: macos-latest
    
      steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Set up Xcode
            uses: maxim-lobanov/setup-xcode@v1
            with:
              xcode-version: latest
    
          - name: Set up Node.js
            uses: actions/setup-node@v3
            with:
              node-version: '18'
    
          - name: Install Dependencies
            run: |
              npm install

          - name: Install the Apple certificate and provisioning profile
            env:
              BUILD_CERTIFICATE_BASE64: ${{ secrets.IOS_BUILD_CERTIFICATE_BASE64 }}
              P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
              BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.IOS_BUILD_PROVISION_PROFILE_BASE64 }}
              KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
            run: |
              # create variables
              CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
              PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
              KEYCHAIN_PATH=$RUNNER_TEMP/login.keychain-db
    
              # import certificate and provisioning profile from secrets
              echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
              echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH
    
              # create temporary keychain
              security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
              security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
              security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
    
              # import certificate to keychain
              security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
              security list-keychain -d user -s $KEYCHAIN_PATH
    
              # apply provisioning profile
              mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
              cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles 
    
              # checking the certificate path
              security find-certificate -a $KEYCHAIN_PATH
    
          - name: Set up Ruby and Bundler
            run: |
              brew install ruby
              gem install bundler
              bundle install --gemfile=ios/Gemfile
    
          - name: Install CocoaPods dependencies
            run: |
              cd ios
              pod install --silent
    
          - name: Build iOS Archive
            run: |
              cd ios
              xcodebuild -workspace YourApp.xcworkspace \ 
                         -scheme YourApp \ 
                         -sdk iphoneos \ 
                         -configuration Release \ 
                         -archivePath $PWD/build/YourApp.xcarchive \ 
                         archive
